.btn-xlarge {
    padding: 12px 24px;
}

.no-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolbar {
    min-height: 35px;
}
td {
    max-width: 300px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.btn[disabled] {
    opacity: .5;
    pointer-events: none;
}

.toolbar-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar-actions .title {
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
}

.toolbar-actions:after, .toolbar-actions:before, .toolbar:after, .toolbar:before {
    display: none;
}

.table-striped tr {
    height: 25px;
}

.table-striped tr:active:nth-child(even), .table-striped tr:active {
    background: inherit;
    color: inherit;
}

.table-striped tr:active:nth-child(even) {
    background: #f5f5f4;
}

.table-striped tr.selected {
    color: #fff;
    background-color: #116cd6;
}

.table-striped tr.error {
    color: red;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.popup {
    margin: 0 auto;
    min-width: 400px;
    max-width: 80%;
    height: auto;
    max-height: 90%;
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 2px;
    display: flex;
    flex: 1;
    flex-flow: column;
}

.popup .window-content {
    overflow-y: auto;
    min-height: 200px;
}

td.has-input {
    padding: 0;
    font-size: 0;
}
td.has-input textarea {
    height: 220px;
    min-height: 75px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.table-striped tr:nth-child(even) .has-input input, .table-striped tr:nth-child(even) .has-input textarea {
    background: #f5f5f4;
}
td.has-input input[type="text"], td.has-input input[type="number"], td.has-input textarea {
    padding-left: 5px;
    width: 100%;
    font-size: 12px;
    margin-left: 0;
    border-width: 0;
}
td.has-input input[type="checkbox"] {
    font-size: 12px;
    width: auto;
    margin: 2px 0 0 5px;
    vertical-align: middle;
}

table tbody th {
    white-space: nowrap;
    width: 10%;
}